<div class="wrapper">
  <div class="header">
    <button class="back-button" (click)="navToList()">Back to the List</button>
  </div>

  <form class="containter">
    <div class="body">
      <input
        class="item-desc"
        [(ngModel)]="item.description"
        #itemDesc="ngModel"
        name="description"
        placeholder="Description"
      />
      <input
        class="item-desc"
        [(ngModel)]="item.type"
        #itemType="ngModel"
        name="type"
        placeholder="Type"
      />
      <input
        class="item-desc"
        [(ngModel)]="item.money"
        #itemMoney="ngModel"
        name="money"
        placeholder="Money"
      />
      <input
        class="item-desc"
        [(ngModel)]="item.date"
        #itemDate="ngModel"
        name="date"
        type="date"
      />
    </div>

    <div class="footer">
      <button
        (click)="saveItem()"
        [disabled]="
          !itemDesc.dirty &&
          !itemType.dirty &&
          !itemMoney.dirty &&
          !itemDate.dirty
        "
        class="save-button"
      >
        Save
      </button>
    </div>
  </form>
</div>
