<div class="wrapper">
  <div class="header">
    <button class="back-button" (click)="navToList()">Back to the List</button>
  </div>

  <form class="containter">
    <div class="body">
      <div class="label">
        <label for="description">Description</label>
        <input
          class="item-desc"
          [(ngModel)]="item.description"
          #itemDesc="ngModel"
          name="description"
          placeholder="Description"
        />
      </div>
      <div class="label">
        <label for="type">Type</label>
        <input
          class="item-desc"
          [(ngModel)]="item.type"
          #itemType="ngModel"
          name="type"
          placeholder="Type"
        />
      </div>
      <div class="label">
        <label for="money">Amount</label>
        <input
          class="item-desc"
          [(ngModel)]="item.money"
          #itemMoney="ngModel"
          name="money"
          placeholder="Money"
        />
      </div>
      <div class="label">
        <label for="date">Date</label>
        <input
          class="item-desc"
          [(ngModel)]="item.date"
          #itemDate="ngModel"
          name="date"
          type="date"
        />
      </div>
    </div>

    <div class="footer">
      <button
        (click)="saveItem()"
        [disabled]="
          !itemDesc.dirty &&
          !itemType.dirty &&
          !itemMoney.dirty &&
          !itemDate.dirty
        "
        class="save-button"
      >
        Save
      </button>
    </div>
  </form>
</div>
