<!DOCTYPE html>
<head> </head>
<body>
  <div class="containter">
    <h1>Record List</h1>

    <div class="items" *ngIf="displayItems">
      <table width="100%">
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 40%" />
        <tr>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let item of displayItems">
          <td>{{ item.description }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.money }}</td>
          <td>{{ item.date | date }}</td>
          <button (click)="delete(item.id)">Delete</button>
        </tr>
      </table>
    </div>

    <button class="create-button" (click)="navToNew()">Create Record</button>
  </div>
</body>
